.Table{
    background: white;
    margin: 20px 0;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 1200px;
    border-radius: 8px 8px 0px 0px;
}

.Table table{
    width: 100%; 
    border-collapse: collapse;
    border-bottom: 5px solid var(--blue);
}

.Table thead{
    background: var(--blue);
    color: var(--white);
    font-weight: 500;
}

.Table tr{
    border-bottom: 1px solid #E9E9E9;
}

.Table td{
    padding: 10px 20px;
}

.Pagination{
    display: flex;
}

.Pagination .pagination-number{
    margin-right: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    cursor: pointer;
}