.Page{
    background: #DEDEDE;
}

.Page .box{
    display: flex;
    flex-direction: row;
}

.Page .main{
    height: calc(100vh - 100px);
    overflow-y: auto;
    width: 100%;
}

/* width */
.Page .main::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.Page .main::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.Page .main::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.Page .main::-webkit-scrollbar-thumb:hover {
    background: #555;
}