.ExtraOptions {
    background: white;
    border-radius: 5px;
    padding: 14px;
}

/* .ExtraOptions .form . */

.ExtraOptions .form .row{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.ExtraOptions .form .row .option-field{
    display: flex;
    justify-content: space-between;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    flex: 1;
    padding:10px;
}
.ExtraOptions .form .row .option-field .option{
    display: flex;
}
.ExtraOptions .form .row .option-field .option input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* .ExtraOptions .form . */