.AddressDetails {
    background: white;
    border-radius: 5px;
    padding: 14px;
}

/* Row Generally  */

.AddressDetails .form .row .input-field {
    flex: 1;
    margin-left: 30px;
}

.AddressDetails .form .row select{
    border: none;
    border-right:10px solid transparent;
    outline: 1px solid #DFDFDF;
}

.AddressDetails .form .row .input-field:first-child {
    margin-left: 0px;
}

.AddressDetails .form .row .input-field input {
    min-width: 40px;
    width: 100%;
}

/* Row Generally  */

/* Row 1 & 2  */
.AddressDetails .form .row-1 .input-field:nth-child(1) {
    flex: 2.2;
    padding-left: 0px;
}
.AddressDetails .form .row-2 .input-field:nth-child(1) {
    flex: 2.2;
    padding-left: 0px;
}

/* Row 1 & 2  */

/* Last Row */
/* last-line class reps the two last input... special class is to make them align to the right */
.AddressDetails .form .row .input-field.last-line{
    flex-basis: 30.5%;
    flex-grow: unset;
}
/* Last Row */
