.PaymentDetails {
    background: white;
    border-radius: 5px;
    padding: 14px;
}

/* Row Generally  */

.PaymentDetails .form .row .input-field {
    flex: 1;
    margin-left: 30px;
}

.PaymentDetails .form .row select{
    border: none;
    border-right:10px solid transparent;
    outline: 1px solid #DFDFDF;
}

.PaymentDetails .form .row .input-field:first-child {
    margin-left: 0px;
}

.PaymentDetails .form .row .input-field input {
    min-width: 40px;
    width: 100%;
}

/* Row Generally  */
