.UserPassword {
    background: white;
    border-radius: 5px;
    padding: 14px;
    /* min-width: 800px; */
    /* max-width: 70%; */
}

/* Row Generally  */

.UserPassword .form .row .input-field {
    flex: 1;
    margin-left: 30px;
}

.UserPassword .form .row select{
    border: none;
    border-right:10px solid transparent;
    outline: 1px solid #DFDFDF;
}

.UserPassword .form .row .input-field:first-child {
    margin-left: 0px;
}

.UserPassword .form .row .input-field input {
    min-width: 40px;
    width: 100%;
}

.UserPassword .form .row .input-field .input-box.cal {
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}
.UserPassword .form .row .input-field .input-box.cal input {
    border: none;
    border-radius: none;
}
.UserPassword .form .row .input-field .input-box .icon {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color:var(--blue);
}

.UserPassword .form .row .value-changer:hover{
    color:var(--blue);
}

/* Row Generally  */

/* Radio input field  */

.UserPassword .form .row .rad {
    border: 1px solid #DFDFDF;
    padding: 10px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* justify-content: s */
}
.UserPassword .form .row .input-box .option {
    display: flex;
    align-items: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.UserPassword .form .row .input-box .option label {
    margin-left: 0px;
}

.UserPassword .form .row .input-box .option:first-child {
    margin-right: 12%;
}
/* Radio Input field*/